<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ data.title }}</title>
    </head>
    <body>
        <h1>{{ data.content }}</h1>
        {% if data.cable_count > 0 %}
        <ul>
            {% for cable in data.cable_list %}
            <li>{{ cable }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <h2>No cables exist</h2>
        {% endif %}
    </body>
</html>