<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}"
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
    </body>
</html>